/* configuração da tela de index  */
* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: row;
}

/* definição dos lados deixando cadas um com 50% */
.left, .right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    background: #fff;
}

.left img {
    width: 80%;
    max-width: 500px;
}

.right {
    background: #0A3D91;
    color: white;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    gap: 80px;
}
/* edição dos box de email e de senha abaixo  */
.login-box {
    width: 80%;
    max-width: 400px;
    gap: 80px;
    
    }

.login-box p{
    margin-right: 40vh;
}

.login-box h2 {
    margin-bottom: 10px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: white;
    color: #0A3D91;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.login-box button:hover {
    background: #e0e0e0;
}

/* responsividade telas menores  */
@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .left, .right {
        width: 100%;
        height: 50vh;
    }

    .left img {
        width: 40%;
    }
}
/* responsividade telas de celulares  */

@media (max-width: 480px) {
    .left img {
        width: 60%;
    }

    .login-box {
        width: 90%;
    }
}

